# Log files
logs/

# Maven target directories
**/target/

# IDE files
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# config files
**/src/main/resources/application-*.yaml